<div class="card-white">
  <div class="card-header">
    <h2 class="card-title">Skrubber</h2>
    <img src="../../assets/img/Skrubber Hygiene.jpg" alt="Skrubber" class="card-image">
  </div>
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt iure non dolores, magni voluptates dolorem laudantium nemo alias esse molestiae nobis, qui placeat id a, autem est ea eos labore ipsam repellendus? Tenetur animi unde accusamus illum ipsa, ratione quaerat ut impedit nemo. Porro dolor autem facere in fuga debitis.</p>
  </div>
  <div class="card-footer">
    <a href="" class="get-in-touch">Get In Touch</a>
  </div>
</div>