<span class="navbar-toggle" id="js-navbar-toggle">
  <i class="fa fa-bars"></i>
</span>
<nav class="navbar">
  <a href="" class="logo">Skrubber</a>
  <ul class="main-nav" id="js-menu">
    <li>
      <a routerLink="" class="nav-links">Home</a>
    </li>
    <li>
      <a routerLink="/products" class="nav-links">Products</a>
    </li>
    <!-- <li>
      <a href="" class="nav-links">Team</a>
    </li> -->
    <li>
      <a routerLink="/about" class="nav-links">About</a>
    </li>
    <!-- <li>
      <a href="" class="nav-links">Contact Us</a>
    </li> -->
  </ul>
</nav>