<div class="card-white">
  <h2>Floor Cleaner</h2>
  <img src="../../assets/img/clean1.jpg" alt="" class="product-img">

  <div class="product-footer">
    <a href="" class="learn-more">More Info</a>
  </div>
</div>
<div class="place-holder"></div>

<div class="card-white">
  <h2>Dish Washer</h2>
  <img src="../../assets/img/clean1.jpg" alt="" class="product-img">
  <div class="product-footer">
    <a href="" class="learn-more">More Info</a>
  </div>
</div>
<div class="place-holder"></div>
<div class="card-white">
  <h2>Multi Purpose Cleaner</h2>
  <img src="../../assets/img/clean1.jpg" alt="" class="product-img">
  <div class="product-footer">
    <a href="" class="learn-more">More Info</a>
  </div>
</div>
<div class="place-holder"></div>