/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Thin.ttf);
}

html, body {
    font-family: Roboto;
    background-color: #F7F9FC;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px ) {
    body {
        overflow-x: hidden;
    }
}